{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="center-message">
        <div class="glass-box">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
            <a href="{% url 'signup' %}">Don't Have An Account? Sign Up Here</a>
        </div>
    </div>
</body>
</html>
